### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [22]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
School_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# Read and display 
School_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [23]:
# Calculations and variables

school_count = len(School_data_complete["school_name"].unique())
student_count = School_data_complete["Student ID"].count()
total_budget = school_data["budget"].sum()
average_maths_score = School_data_complete["maths_score"].mean()
average_reading_score = School_data_complete["reading_score"].mean()

passing_maths = School_data_complete[School_data_complete["maths_score"] >= 50]
passing_maths_count = passing_maths["student_name"].count()
percent_passing_maths = passing_maths_count / student_count * 100

passing_reading = School_data_complete[School_data_complete["reading_score"] >= 50]
passing_reading_count = passing_reading["student_name"].count()
percent_passing_reading = passing_reading_count / student_count * 100

passing_maths_reading = School_data_complete[(School_data_complete["maths_score"] >= 50) & (School_data_complete["reading_score"] >= 50)]
passing_maths_reading_count = passing_maths_reading["student_name"].count()
percent_passing_maths_reading = passing_maths_reading_count / student_count * 100

# Create a summary dataframe
summary_df = pd.DataFrame({
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Maths Score": [average_maths_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [percent_passing_maths],
    "% Passing Reading": [percent_passing_reading],
    "% Overall Passing": [percent_passing_maths_reading]
})

# Format columns
summary_df["Total Students"] = summary_df["Total Students"].map("{:,}".format)
summary_df["Total Budget"] = summary_df["Total Budget"].map("${:,.2f}".format)

# Display summary dataframe
summary_df

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [28]:
#groups by school
by_school = School_data_complete.set_index('school_name').groupby(['school_name'])

#school types
sch_types = school_data.set_index('school_name')['type']

# total students by school
students_per_school = by_school['Student ID'].count()

# school budget
school_budget = school_data.set_index('school_name')['budget']

#per student budget
student_budget = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']

#avg scores by school
avg_maths = School_data_complete['maths_score'].mean()
avg_read = School_data_complete['reading_score'].mean()

# % passing scores
pass_maths = School_data_complete[School_data_complete['maths_score'] >= 50].groupby('school_name')['Student ID'].count()/students_per_school 
pass_read = School_data_complete[School_data_complete['reading_score'] >= 50].groupby('school_name')['Student ID'].count()/students_per_school 
overall = School_data_complete[(School_data_complete['reading_score'] >= 50) & (School_data_complete['maths_score'] >= 50)].groupby('school_name')['Student ID'].count()/students_per_school 

school_summary = pd.DataFrame({
    "School Type": sch_types,
    "Total Students": students_per_school,
    "Per Student Budget": student_budget,
    "Total School Budget": school_budget,
    "Average Math Score": avg_maths,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_maths,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
})



# formatting
school_summary.style.format({'Total Students': '{:,}', 
                          "Total School Budget": "${:,}", 
                          "Per Student Budget": "${:.0f}",
                          'Average Math Score': "{:.1f}", 
                          'Average Reading Score': "{:.1f}", 
                          "% Passing Math": "{:.1%}", 
                          "% Passing Reading": "{:.1%}", 
                          "Overall Passing Rate": "{:.1%}"})

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [26]:
# Use ascending function to perform analysis

top_schools = school_summary.sort_values(["Overall Passing Rate"], ascending=True)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Hernandez High School,Government,4635,3022020,652.0,70.338192,69.980138,0.809493,0.818770,0.663646
Huang High School,Government,2917,1910635,655.0,70.338192,69.980138,0.816935,0.814535,0.667124
Johnson High School,Government,4761,3094650,650.0,70.338192,69.980138,0.820626,0.819786,0.671918
Wilson High School,Independent,2283,1319574,578.0,70.338192,69.980138,0.827858,0.812965,0.674551
Ford High School,Government,2739,1763916,644.0,70.338192,69.980138,0.824388,0.822198,0.674699

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [27]:
# Use ascending=False function to perform analysis

bottom_schools = school_summary.sort_values(["Overall Passing Rate"], ascending=False)
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Griffin High School,Independent,1468,917500,625.0,70.338192,69.980138,0.912125,0.884877,0.813351
Cabrera High School,Independent,1858,1081356,582.0,70.338192,69.980138,0.908504,0.890743,0.807858
Bailey High School,Government,4976,3124928,628.0,70.338192,69.980138,0.916399,0.873794,0.800844
Wright High School,Independent,1800,1049400,583.0,70.338192,69.980138,0.917778,0.866667,0.797222
Rodriguez High School,Government,3999,2547363,637.0,70.338192,69.980138,0.907977,0.873968,0.794199

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
# creates year level average math scores for each school in a dataframe
Year_9 = School_data_complete.loc[School_data_complete["year"] == 9, ["school_name", "year", "maths_score"]]
maths_score_school9 = Year_9.groupby("school_name")["maths_score"].mean()

Year_10 = School_data_complete.loc[School_data_complete["year"] == 10, ["school_name", "year", "maths_score"]]
maths_score_school10 = Year_10.groupby("school_name")["maths_score"].mean()

Year_11 = School_data_complete.loc[School_data_complete["year"] == 11, ["school_name", "year", "maths_score"]]
maths_score_school11 = Year_11.groupby("school_name")["maths_score"].mean()

Year_12 = School_data_complete.loc[School_data_complete["year"] == 12, ["school_name", "year", "maths_score"]]
maths_score_school12 = Year_12.groupby("school_name")["maths_score"].mean()

maths_scores_by_grade = pd.concat([maths_score_school9, maths_score_school10, maths_score_school11, maths_score_school12], axis=1)
maths_scores_by_grade.columns = ["9", "10", "11", "12"]
maths_scores_by_grade = maths_scores_by_grade.reset_index()
maths_scores_by_grade.rename(columns={"index": "school_name"}, inplace=True)

maths_scores_by_grade

              school_name          9         10         11         12
0      Bailey High School  72.493827  71.897498  72.374900  72.675097
1     Cabrera High School  72.321970  72.437768  71.008299  70.604712
2    Figueroa High School  68.477804  68.331586  68.811001  69.325282
3        Ford High School  69.021609  69.387006  69.248862  68.617811
4     Griffin High School  72.789731  71.093596  71.692521  71.469178
5   Hernandez High School  68.586831  68.867156  69.154412  68.985075
6      Holden High School  70.543307  75.105263  71.640777  73.409639
7       Huang High School  69.081754  68.533246  69.431345  68.639316
8     Johnson High School  69.469286  67.990220  68.637730  69.287393
9        Pena High School  71.996364  72.396000  72.523438  71.187845
10  Rodriguez High School  71.940722  71.779808  72.364811  72.154626
11    Shelton High School  72.932075  72.506696  70.097087  72.331536
12     Thomas High School  69.234273  70.057007  69.657831  69.369822
13     Wilson High School  69.212361  69.455446  68.378965  69.787472
14     Wright High School  71.741176  72.179012  73.275862  70.848238

## Reading Score by Year

* Perform the same operations as above for reading scores

In [ ]:
Year_9 = School_data_complete.loc[School_data_complete["year"] == 9, ["school_name", "year", "reading_score"]]
reading_score_school9 = Year_9.groupby("school_name")["reading_score"].mean()

Year_10 = School_data_complete.loc[School_data_complete["year"] == 10, ["school_name", "year", "reading_score"]]
reading_score_school10 = Year_10.groupby("school_name")["reading_score"].mean()

Year_11 = School_data_complete.loc[School_data_complete["year"] == 11, ["school_name", "year", "reading_score"]]
reading_score_school11 = Year_11.groupby("school_name")["reading_score"].mean()

Year_12 = School_data_complete.loc[School_data_complete["year"] == 12, ["school_name", "year", "reading_score"]]
reading_score_school12 = Year_12.groupby("school_name")["reading_score"].mean()

reading_scores_by_grade = pd.concat([reading_score_school9, reading_score_school10, reading_score_school11, reading_score_school12], axis=1)
reading_scores_by_grade.columns = ["9", "10", "11", "12"]
reading_scores_by_grade = reading_scores_by_grade.reset_index()
reading_scores_by_grade.rename(columns={"index": "school_name"}, inplace=True)

reading_scores_by_grade

              school_name          9         10         11         12
0      Bailey High School  70.901920  70.848265  70.317346  72.195525
1     Cabrera High School  71.172348  71.328326  71.201245  71.856021
2    Figueroa High School  70.261682  67.677588  69.152327  69.082126
3        Ford High School  69.615846  68.988701  70.735964  68.849722
4     Griffin High School  72.026895  70.746305  72.385042  69.434932
5   Hernandez High School  68.477569  70.621842  68.418199  69.244136
6      Holden High School  71.598425  71.096491  73.310680  70.481928
7       Huang High School  68.670616  69.516297  68.740638  68.671795
8     Johnson High School  68.719286  69.295029  69.969115  67.992521
9        Pena High School  70.949091  72.324000  71.703125  71.513812
10  Rodriguez High School  70.902921  70.137500  71.424453  71.414449
11    Shelton High School  70.715094  69.879464  71.150485  69.070081
12     Thomas High School  69.672451  69.741093  70.749398  68.730769
13     Wilson High School  68.683043  68.412541  68.796327  69.888143
14     Wright High School  71.823529  71.386831  70.475862  69.821138

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Create spending bins
bins = [0, 585, 630, 645, 680]
group_name = ['< $585', "$585 - 630", "$630 - 645", "$645 - 680"]
School_data_complete['spending_bins'] = pd.cut(School_data_complete['budget']/School_data_complete['size'], bins, labels = group_name)

# Group by spending
by_spending = School_data_complete.groupby('spending_bins')

# Calculations
avg_maths = by_spending['maths_score'].mean()
avg_read = by_spending['reading_score'].mean()
pass_maths = School_data_complete[School_data_complete['maths_score'] >= 50].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
pass_read = School_data_complete[School_data_complete['reading_score'] >= 50].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
overall = School_data_complete[(School_data_complete['reading_score'] >= 50) & (School_data_complete['maths_score'] >= 50)].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()

            
# DF build            
scores_by_spend = pd.DataFrame({
    "Average Maths Score": avg_maths,
    "Average Reading Score": avg_read,
    '% Passing Maths': pass_maths,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
            
})
            
# Reorder columns
scores_by_spend = scores_by_spend[[
    "Average Maths Score",
    "Average Reading Score",
    '% Passing Maths',
    '% Passing Reading',
    "Overall Passing Rate"
]]

scores_by_spend.index.name = "Per Student Budget"
scores_by_spend = scores_by_spend.reindex(group_name)

# Formatting
scores_by_spend.style.format({'Average Maths Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Maths': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Create size bins
bins = [0, 999, 1999, 99999999999]
group_name = ["Small (<1000)", "Medium (1000-2000)" , "Large (2000-5000)"]
School_data_complete['size_bins'] = pd.cut(School_data_complete['size'], bins, labels = group_name)

# Group by spending
by_size = School_data_complete.groupby('size_bins')

# Calculations 
avg_maths = by_size['maths_score'].mean()
avg_read = by_size['reading_score'].mean()
pass_maths = School_data_complete[School_data_complete['maths_score'] >= 50].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()
pass_read = School_data_complete[School_data_complete['reading_score'] >= 50].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()
overall = School_data_complete[(School_data_complete['reading_score'] >= 50) & (School_data_complete['maths_score'] >= 50)].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()

            
# DF build            
scores_by_size = pd.DataFrame({
    "Average Maths Score": avg_maths,
    "Average Reading Score": avg_read,
    '% Passing Maths': pass_maths,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
            
})
            
# Reorder columns
scores_by_size = scores_by_size[[
    "Average Maths Score",
    "Average Reading Score",
    '% Passing Maths',
    '% Passing Reading',
    "Overall Passing Rate"
]]

scores_by_size.index.name = "Total Students"
scores_by_size = scores_by_size.reindex(group_name)

# Formatting
scores_by_size.style.format({'Average Maths Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Maths': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
# Froup by type of school
by_type = School_data_complete.groupby("type")

# Calculations 
avg_maths = by_type['maths_score'].mean()
avg_read = by_type['reading_score'].mean()
pass_maths = School_data_complete[School_data_complete['maths_score'] >= 50].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
pass_read = School_data_complete[School_data_complete['reading_score'] >= 50].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
overall = School_data_complete[(School_data_complete['reading_score'] >= 50) & (School_data_complete['maths_score'] >= 50)].groupby('type')['Student ID'].count()/by_type['Student ID'].count()

# DF build            
scores_by_type = pd.DataFrame({
    "Average Maths Score": avg_maths,
    "Average Reading Score": avg_read,
    '% Passing Maths': pass_maths,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall})
    
# Reorder columns
scores_by_type = scores_by_type[[
    "Average Maths Score",
    "Average Reading Score",
    '% Passing Maths',
    '% Passing Reading',
    "Overall Passing Rate"
]]
scores_by_type.index.name = "Type of School"

# Formatting
scores_by_type.style.format({'Average Maths Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Maths': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})




scores_by_type

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,Overall Passing Rate
Type of School,,,,,
Government,69.990399,69.753485,0.848866,0.838190,0.712671
Independent,71.107594,70.481548,0.887158,0.857717,0.762178